/*header sec css*/

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    z-index: 999;

    &.stick {
        position: fixed;

        @include media(mobile-o-land) {
            & {
                position: absolute;
            }
        }

        .headerTop {
            display: none;
        }
    }
    .headerTop {
        padding: 25px 0;
        background-color: $whiteColor;
        .container {
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: space-between;

            @include media(mobile-s) {
                & {
                    flex-direction: column;
                }
            }

            .headerLogo {
                @include media(iPad) {
                    & {
                        width: 150px;
                    }
                }

                @include media(mobile) {
                    & {
                        width: 100px;
                    }
                }
            }

            .headerCenter {
                @include media(mobile-s) {
                    & {
                        margin: 7px 0;
                    }
                }
                h3 {
                    color: $greyColor;
                    font-size: 18px;
                    text-transform: capitalize;
                    letter-spacing: 0.020e;
                    @include media(iPad) {
                        & {
                            font-size: 17px;
                        }
                    }
                    @include media(mobile) {
                        & {
                            font-size: 15px;
                        }
                    }
                }
            }
            .headerCont {
                display: flex;
                align-content: center;
                align-items: center;
                justify-content: space-between;

                figure {
                    &.phone-icon {
                        @include circle(60px);
                        background-color: $greenColor;
                        display: flex;
                        align-content: center;
                        align-items: center;
                        justify-content: center;
                        margin: 0 10px 0 0;

                        .fa {
                            font-size: 45px;
                            font-weight: normal;
                            color: $whiteColor;
                        }
                    }
                }
                a {
                    color: $greyColor;
                    display: inline-block;
                    font-size: 20px;

                    @include media(mobile) {
                        & {
                            font-size: 15px;
                        }
                    }

                    &:hover,
                    &:focus {
                        color: $greenColor;
                    }

                    .fa {
                        color: $greenColor;
                    }
                }
            }

        }
    }

    .navbar {
        background-color: $greenColor;
        padding: 0;

        .container {
            @include media(mobile) {
                & {
                    display: flex;
                    align-content: center;
                    align-items: center;
                    justify-content: flex-end;
                }
            }

            @include media(mobile) {
                & {
                    padding: 7px 0;
                }
            }

            .navbar-toggler {
                @include transform(rotate(90deg));
                @include transition(all ease-in-out 0.5s);
                cursor: pointer;
                &.collapsed {
                    @include transform(rotate(0));
                    @include transition(all ease-in-out 0.5s);
                }
                .navbar-toggler-icon {
                    background: url(../images/menu-button.png)no-repeat;
                    background-position: 0 0;
                    background-size: 100%;
                }
            }

            .navbar-collapse {
                .navbar-nav {
                    width: 100%;
                    align-items: center;
                    align-content: center;
                    justify-content: center;

                    li {

                        @include media(mobile) {
                            & {
                                margin-bottom: 0;
                                border-bottom: 1px solid rgba(255, 255, 255, 0.42);
                                display: block;
                                width: 100%;
                            }
                        }

                        a {
                            color: $whiteColor;
                            padding:15px 11px 11px;
                            text-transform: uppercase;
                            display: block;
                            font-family: $dinMedCond;
                            letter-spacing: 0.100em;
                            font-size: 17px;

                            @include media(iPad) {
                                & {
                                    font-size: 16px;
                                }
                            }
                            @include media(mobile) {
                                & {
                                    font-size: 15px;
                                }
                            }

                            &:hover,
                            &:focus {
                                background-color: $lightgreenColor;
                            }
                        }
                        &.current-menu-item {
                            a {
                                background-color: $lightgreenColor;
                            }
                        }
                    }
                }
            }
        }
    }

}
