@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css');


@font-face {
    font-family: 'DINNextLTPro-Condensed';
    src: url('../fonts/DINNextLTPro-Condensed.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DINNextLTPro-Condensed.otf') format('opentype'),
    url('../fonts/DINNextLTPro-Condensed.woff') format('woff'),
    url('../fonts/DINNextLTPro-Condensed.ttf') format('truetype'),
    url('../fonts/DINNextLTPro-Condensed.svg#DINNextLTPro-Condensed') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'DINNextLTPro-BoldCondensed';
    src: url('../fonts/DINNextLTPro-BoldCondensed.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DINNextLTPro-BoldCondensed.otf') format('opentype'),
    url('../fonts/DINNextLTPro-BoldCondensed.woff') format('woff'),
    url('../fonts/DINNextLTPro-BoldCondensed.ttf') format('truetype'),
    url('../fonts/DINNextLTPro-BoldCondensed.svg#DINNextLTPro-BoldCondensed') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'DINNextLTPro-MediumCond';
    src: url('../fonts/DINNextLTPro-MediumCond.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DINNextLTPro-MediumCond.otf') format('opentype'),
    url('../fonts/DINNextLTPro-MediumCond.woff') format('woff'),
    url('../fonts/DINNextLTPro-MediumCond.ttf') format('truetype'),
    url('../fonts/DINNextLTPro-MediumCond.svg#DINNextLTPro-MediumCond') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Gotham-Black';
    src: url('../fonts/Gotham-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham-Black.otf') format('opentype'),
    url('../fonts/Gotham-Black.woff') format('woff'),
    url('../fonts/Gotham-Black.ttf') format('truetype'),
    url('../fonts/Gotham-Black.svg#Gotham-Black') format('svg');
    font-weight: normal;
    font-style: normal;
}




* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body,
ul,
ol {
    margin: 0;
    padding: 0;
}

body {
    font-family: $dinCond;
    font-size: 17px;
    color: $primaryColor;
    background-color: #fff;
    line-height: 1;
    padding: 0 !important;
    overflow-y: scroll;
    overflow-x: hidden;
    font-weight: normal;

    &.customize-support {
        header {
            top: 32px;

            @include media(iPad) {
                & {
                    top: 46px;
                }
            }

            @include media(mobile-s) {
                & {
                    top: 46px;
                }

                &.stick {
                    top: 0;
                }
            }

        }
    }
}

body.modal-open {
    overflow: hidden !important;
}

.modal-open {
    overflow-y: scroll !important;
}

ol,
ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

p {
    font-size: 16px;
    font-family:$dinCond;
    color: $primaryColor;
    font-weight: normal;
    line-height: 25px;
    letter-spacing: 0.020em;
}

a {
    @include transition(all ease-in-out 0.5s);

}

a:hover,
a:focus {
    text-decoration: none;
    outline: 0;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

figure {
    margin-bottom: 0;
}

input[type="submit"]:hover,
input[type="submit"]:focus,
button[type="button"]:hover,
button[type="button"]:focus {
    outline: 0;
}

.display_table {
    width: 100%;
    height: 100%;
    display: table;
    text-align: center;
}

.display_cell {
    display: table-cell;
    vertical-align: middle;
}

.wpcf7-response-output {
    padding: 15px !important;
    margin: 0 !important;
    border: 1px solid transparent !important;
    border-radius: 0;
    font-size: 15px;

    @include media(iPadLand) {
        & {
            font-size: 13px;
            padding: 10px !important;
        }
    }
}

.wpcf7-validation-errors,
.wpcf7-acceptance-missing {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.wpcf7-mail-sent-ok {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

input.wpcf7-not-valid {
    border-color: #f00 !important;
}

span.wpcf7-not-valid-tip {
    display: none !important;
}

.modal-backdrop.in {
    opacity: .7;
}


.section {
    padding: 82px 0 90px;

    @include media(iPadLand) {
        & {
            padding: 30px 0;
        }
    }

    @include media(mobile) {
        & {
            padding: 20px 0;
        }
    }
    h2 {
        font-size: 53px;
        text-transform: uppercase;
        text-align: center;
        font-family: $dinBoldCond;
        letter-spacing: -0.020em;

        @include media(iPadLand) {
            & {
                font-size: 30px;
            }
        }
        @include media(iPadLand) {
            & {
                font-size: 25px;
            }
        }

        @include media(mobile-s) {
            & {
                font-size: 20px;
            }
        }

    }
}


.container {
    max-width: 945px;
}
