$primaryColor: #171616;

$greyColor:#535252;

$blackColor:#000;

$whiteColor:#fff;

$facebook-color:#3b5998;

$google-color:#da4835;

$twitter-color:#1da1f2;

$borderGreyColor:#959594;

$borderGrey2Color:#9d9c9a;

$red-color:#fc0b04;

$yellowColor:#e9b517;

$orangeHoverColor:#ef5e00;

$greenColor:#40904d;

$lightgreenColor:#32b17c;

$head-color:#161515;

$transprentcolor:transparent;

$aboutFormBg:#fffaf1;

$footerBg:#0a0b0b;

/*font family*/

$dinCond:'DINNextLTPro-Condensed';
$dinBoldCond:'DINNextLTPro-BoldCondensed';
$dinMedCond:'DINNextLTPro-MediumCond';
$gothamBlack:'Gotham-Black';