@import 'variable';
@import 'mixin';
@import 'reset';
@import 'header';
@import 'footer';

/* banner section start */

.bannerBlock {
    @include background(center center, cover);
    height: 700px;

    .overlay {
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: flex-start;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            background: url(../images/after-logo.png) center center no-repeat;
            width: 300px;
            height: 250px;
        }

        .container {
            overflow: hidden;
            .banner-content {
                padding-left: 60px;
                h1 {
                    font-size: 82px;
                    font-family: $dinBoldCond;
                    color: $whiteColor;
                    letter-spacing: -0.020em;
                    text-transform: uppercase;
                    line-height: 69px;
                    margin-bottom: 11px;

                    span {
                        color: $yellowColor;
                    }
                }

                ul {
                    margin-bottom: 28px;
                    li {
                        font-size: 19px;
                        color: $whiteColor;
                        font-family: $dinCond;
                        font-weight: normal;
                        margin-bottom: 8px;
                        letter-spacing: 0.020em;

                        &:before {
                            content: "\f00c";
                            @include circle(20px);
                            background-color: $lightgreenColor;
                            color: $whiteColor;
                            display: inline-block;
                            vertical-align: middle;
                            margin-right: 10px;
                            font: normal normal normal 14px/1 FontAwesome;
                            text-align: center;
                            line-height: 1.5;
                        }
                    }
                }
                a {
                    &.contact-now {
                        @include yellow_btn;
                        padding: 3px 70px 0;
                        line-height: 3.4;
                        @include btn-effect;
                    }
                }
            }
        }

    }
}


/*summary block start*/

.summary-block {
    @include background(left center, 65% 100%);

    .container {
        display: flex;
        justify-content: flex-end;
        .summay-content-elemnt {
            text-align: left;
            width: 100%;
            max-width: 440px;
            padding-right: 50px;

            h2 {
                text-align: left;
            }

            .learn-more-btn {
                border: 1px solid $blackColor;
                padding: 3px 68px 0;
                @include green_btn;
                line-height: 3;
                background-color: transparent;
                color: $blackColor;
                margin-top: 27px;
                letter-spacing: 0.020em;

                &:hover {
                    background-color: $blackColor;
                    color: $whiteColor;
                }
            }
        }
    }
}


/*service section */

.service-block {
    padding: 0;
    @include background(center center, cover);
    position: relative;

    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 260px;
        height: 228px;
        background: url(../images/before-logo.png) center top no-repeat;
    }

    .overlay {
        padding: 86px 0 66px;
        @include overlay(rgba(0, 0, 0, 0.85a));
    }
    .container {
        .service-inn {
            h2 {
                color: $whiteColor;
                margin-bottom: 34px;
            }
            .service-list-blck {
                ul {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: flex-start;
                    justify-content: space-between;
                    li {
                        display: inline-block;
                        width: 49%;
                        margin-right: 2%;
                        padding: 35px 40px 30px;
                        position: relative;
                        z-index: 1;

                        &:nth-child(2n + 2) {
                            margin-right: 0;
                        }
                        
                        &:before
                        {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            @include transform(scale(0));
                            @include transition(all ease-in-out 0.5s);
                            background-color: $greenColor;
                             @include border-radius(100%);
                            opacity: 0;
                            z-index: -1;
                            
                        }

                        .service-bx {
                            text-align: center;
                            figure {
                                width: 160px;
                                height: 140px;
                                display: inline-block;
                                position: relative;

                                img {
                                    position: absolute;
                                    top: 50%;
                                    left: 0;
                                    right: 0;
                                    margin: 0 auto;
                                    @include transform(translateY(-50%));
                                }
                            }
                            h3 {
                                color: $whiteColor;
                                font-size: 26px;
                                margin-bottom: 10px;
                                font-family: $dinBoldCond;
                                text-transform: uppercase;

                            }
                            p {
                                line-height: 22px;
                                color: $whiteColor;
                                font-family: $dinCond;
                            }
                            .contact-us {
                                margin-top: 22px;
                                border: 1px solid $whiteColor;
                                padding: 3px 50px 0;
                                line-height: 2.5;
                                color: $whiteColor;
                                text-transform: uppercase;
                                display: inline-block;
                                font-size: 16px;

                                &:hover {
                                    background-color: $whiteColor;
                                    color: $greenColor;
                                }
                            }
                        }

                        &:hover {
                              &:before
                        {
                            @include transform(scale(1));
                            @include border-radius(0);
                             opacity: 1;
                            
                        }
                            }
                    }
                }
            }
        }
    }
}


/*about section start*/

.about-block {
    padding: 0;
    @include background(center center, cover);
    .overlay {
        padding: 113px 0;
        @include linearGradient(rgba(0, 0, 0, 0.6), $transprentcolor);
    }
    .container {
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: space-between;

        .about-content-elemnt {
            display: inline-block;
            width: 50%;
            padding: 0 30px;

            h2 {
                color: $whiteColor;
                text-align: left;
                letter-spacing: 0;
            }
            p {
                color: $whiteColor;
                line-height: 22px;
                margin-bottom: 34px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        .about-form-elemnt {
            display: inline-block;
            width: 50%;
            background-color: $aboutFormBg;
            padding: 45px 30px 38px;
            position: relative;

            &:after {
                content: '';
                position: absolute;
                right: -1000%;
                left: auto;
                top: 0;
                bottom: 0;
                background-color: $aboutFormBg;
                width: 1000%;
            }

            h2 {
                font-size: 49px;
                text-align: left;
                margin-bottom: 12px;
            }

            .form-group {
                .form-control {
                    height: 50px;
                    border-radius: 0;
                    box-shadow: none;
                    border-color: $borderGrey2Color;
                    font-size: 16px;
                    padding: 6px 20px;
                    background-color: $transprentcolor;
                    font-family: $dinCond;

                    &:focus {
                        border-color: $greenColor;
                    }

                    &.textarea-field {
                        padding-top: 10px;
                        height: 117px;
                        resize: none;
                    }
                    &.fname {
                        text-transform: capitalize;
                    }
                }
                &.submit-btn-outr {
                    .submit-btn {
                        width: 100%;
                        padding-top: 5px;
                        background-color: $greenColor;
                        color: $whiteColor;
                        font-family: $dinCond;
                        text-align: center;
                        line-height: 2.4;
                        cursor: pointer;
                        border: 0;
                        font-size: 18px;
                        @include transition(all ease-in-out 0.5s);

                        &:hover,
                        &:focus {
                            background-color: $yellowColor;
                        }
                    }

                }

            }

        }
    }
}

/*we help people*/

.people_help_block {
    padding-bottom: 45px;
    .container {
        .section-head {
            margin-bottom: 48px;
            h2 {
                margin-bottom: 3px;
                letter-spacing: 0;
            }
        }
        .we-help-list {
            ul {
                display: flex;
                align-content: center;
                align-items: center;
                flex-wrap: wrap;
                justify-content: space-between;

                li {
                    display: inline-block;
                    width: 49%;
                    padding: 0 0 0 120px;
                    margin: 0 2% 36px 0;
                    position: relative;

                    &:nth-child(2n + 2) {
                        margin-right: 0;
                    }

                    figure {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 116px;
                        height: 112px;
                    }

                    h3 {
                        font-size: 35px;
                        font-family: $dinMedCond;
                        font-weight: normal;
                        a {
                            color: $primaryColor;

                            &:hover {
                                color: $greenColor;
                            }
                        }
                    }
                }
            }
        }
    }
}


/*testimonial section*/

.testimonalBlk {
    padding: 68px 0;
    h2 {
        font-size: 47px;
        color: $whiteColor;
        font-family: $dinBoldCond;
        letter-spacing: -0.020em;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 15px;
    }

    .owl-carousel {
        padding: 0 10%;
        .item_bx_inn {
            p {
                color: $whiteColor;
                line-height: 1.2;
            }

            h3 {
                margin-top: 27px;
                color: $whiteColor;
                font-family: $dinBoldCond;

                span {
                    font-size: 15px;
                    display: block;
                    font-family: $dinCond;
                    letter-spacing: 0.025em;
                }
            }
        }

        .owl-dots {
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: center;
            margin-top: 23px;

            .owl-dot {
                @include circle(15px);
                border: 2px solid $whiteColor;
                margin-left: 12px;

                &:first-child {
                    margin-left: 0;
                }
                &:hover,
                &:focus,
                &.active {
                    background-color: $whiteColor;
                }
            }
        }

    }
}


/*footer */

footer {
    padding: 40px 0 0;
    background-color: $footerBg;
    .container {
        display: flex;
        align-content: center;
        align-items: flex-start;
        justify-content: space-around;

        .footer-comn {
            display: inline-block;
            width: 31%;

            h3 {
                font-size: 28px;
                color: $whiteColor;
                letter-spacing: -0.020em;
                text-transform: uppercase;
                font-family: $gothamBlack;
                margin-bottom: 8px;
            }

            &.footer-form {
                h4 {
                    font-family: $dinCond;
                    font-size: 23px;
                    color: $whiteColor;
                    margin-top: 10px;
                }
                .form-group {
                    margin-bottom: 6px;
                    .form-control {
                        height: 38px;
                        border-radius: 0;
                        box-shadow: none;
                        border-color: $transprentcolor;
                        font-size: 16px;
                        padding: 6px 15px;
                        font-family: $dinCond;

                        &:focus {
                            border-color: $greenColor;
                        }

                        &.textarea-field {
                            padding-top: 10px;
                            height: 84px;
                            resize: none;
                        }
                        &.fname {
                            text-transform: capitalize;
                        }
                    }
                    &.submit-btn-outr {
                        .submit-btn {
                            width: 100%;
                            padding-top: 5px;
                            background-color: $greenColor;
                            color: $whiteColor;
                            font-family: $dinCond;
                            text-align: center;
                            line-height: 1.8;
                            cursor: pointer;
                            border: 0;
                            font-size: 18px;
                            @include transition(all ease-in-out 0.5s);

                            &:hover,
                            &:focus {
                                background-color: $yellowColor;
                            }
                        }

                    }

                }

            }
            &.footer-map {
                iframe {
                    width: 100%;
                    height: 300px;
                }
            }

            &.footer-contact-us {
                .contact-us {
                    margin-top: 20px;
                    h3 {
                        margin-bottom: 20px;
                    }

                    .contact-adress {
                        ul {
                            li {
                                position: relative;
                                font-size: 17px;
                                letter-spacing: -0.020em;
                                margin-bottom: 13px;
                                color: $whiteColor;
                                padding-left: 45px;

                                &:last-child {
                                    margin-bottom: 0;
                                }
                                span {
                                    position: absolute;
                                    top: -5px;
                                    left: 0;
                                    width: 40px;
                                    text-align: center;

                                    .fa {
                                        font-size: 25px;
                                    }
                                    .fa.fa-map-marker {
                                        margin-top: 5px;
                                    }
                                }
                                a {
                                    color: $whiteColor;

                                    &:hover {
                                        color: $greenColor;
                                    }
                                }
                                p {
                                    color: $whiteColor;
                                }

                            }
                        }
                    }
                    
                    .contact-sm
                    {
                        margin-top:23px;
                        
                        a
                        {
                            @include circle(33px);
                            position: relative;
                            display: inline-block;
                            margin-right:5px;
                            background-color: $whiteColor;
                            color:$primaryColor;
                            
                            &:last-child
                            {
                                margin-right: 0;
                            }
                            
                            .fa
                            {
                                position: absolute;
                                top: 50%;
                                left: 0;
                                font-size: 20px;
                                right: 0;
                                text-align: center;
                                @include transform(translateY(-50%));
                            }
                            
                            &:hover
                            {
                                background-color: $greenColor;
                                color: $whiteColor;
                            }
                            
                        }
                    }
                }
            }
        }

    }
    
    .copyright-block
    {
        margin-top: 10px;
        padding: 20px 0;
        p
        {
            color: $whiteColor;
            font-size:14px;
                font-family: $dinCond;
        }
    }
}
